{% extends 'base.html' %}
{% load static %}

{% block full_title %}Wei-Chung Hsu (徐慰中){% endblock %}

{% block content %}
    <h3 class="ts bottom attached center aligned block header" id="cover">
        <div>
            <img class="ts circular bordered small image" src="{{ object.get_picture_url }}">
            <div class="ts hidden fitted divider"></div>
            Wei-Chung Hsu (徐慰中)

            <div class="sub header" style="margin-top: 5px; line-height: 150%">
                Professor and Associate Chairman,<br>
                Computer Science, National Taiwan University
            </div>
            <div class="ts primary label">
                <i class="ts mail icon"></i>
                {{ object.email }}
            </div>
            <div class="ts label">
                <i class="ts university icon"></i>
                德田館 313室
            </div>
        </div>
    </h3>
    <div class="ts hidden divider"></div>

    <div class="ts container">
        {% if object.user == user %}
        <a class="ts right floated tiny compact warning button" href="{% url 'website:member-update' %}">
            Edit
        </a>
        <div class="ts hidden clearing divider"></div>
        {% endif %}

        <h3>Education</h3>
        <div class="ts divided items">
            <div class="item">
                <div class="ts tiny image">
                    <img src="{% static 'website/wisc-logo.png' %}">
                </div>
                <div class="middle aligned content">
                    <div class="header">
                        Ph.D., University of Wisconsin-Madison, Madison, WI
                    </div>
                    <div class="meta">
                        Computer Science, June 1987
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ts tiny image">
                    <img src="{% static 'website/nctu-logo.jpg' %}">
                </div>
                <div class="middle aligned content">
                    <div class="header">
                        M.S., National Chiao-Tung University, Taiwan, ROC
                    </div>
                    <div class="meta">
                        Computer Engineering, June 1978
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ts tiny image">
                    <img src="{% static 'website/nctu-logo.jpg' %}">
                </div>
                <div class="middle aligned content">
                    <div class="header">
                        B.S., National Chiao-Tung University, Taiwan, ROC
                    </div>
                    <div class="meta">
                        Computer Engineering, June 1978
                    </div>
                </div>
            </div>
        </div>

        <h3>Professional Employment History</h3>
        <div class="ts divided items">
            <div class="item">
                <div class="ts tiny image">
                    <img src="{% static 'website/ntu-logo.jpg' %}">
                </div>
                <div class="middle aligned content">
                    <div class="header">
                        Department of Computer Science, National Taiwan University, Taiwan, ROC
                    </div>
                    <div class="meta">
                        Professor, August 2013 - Present
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ts tiny image">
                    <img src="{% static 'website/nctu-logo.jpg' %}">
                </div>
                <div class="middle aligned content">
                    <div class="header">
                        Department of Computer Science, National Chiao-Tung University, Taiwan, ROC
                    </div>
                    <div class="meta">
                        Director, August 2010 - August 2013
                        <br>
                        Professor, August 2009 - August 2013
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ts tiny image">
                    <img src="{% static 'website/umn-logo.png' %}">
                </div>
                <div class="middle aligned content">
                    <div class="header">
                        Department of Computer Science, University of Minnesota, Twin Cities, MI
                    </div>
                    <div class="meta">
                        Professor, August 2006 - August 2009
                        <br>
                        Associate Professor, January 2000 - August 2006
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ts tiny image">
                    <img src="{% static 'website/sun-logo.png' %}">
                </div>
                <div class="middle aligned content">
                    <div class="header">
                        Sun Microsystems, Santa Clara, CA
                    </div>
                    <div class="meta">
                        Visiting Professor (Advanced Computer Architecture Division),
                        June 2004 - August 2005
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ts tiny image">
                    <img src="{% static 'website/hp-logo.PNG' %}">
                </div>
                <div class="middle aligned content">
                    <div class="header">
                        Hewlett-Packard Company, Cupertino, CA
                    </div>
                    <div class="meta">
                        Section Technical Contributor (64TC), August 1997 - November 1999
                        <br>
                        Technical Contributor (62TC), February 1993 - November 1997
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ts tiny image">
                    <img src="{% static 'website/cray-logo.png' %}">
                </div>
                <div class="middle aligned content">
                    <div class="header">
                        Cray Research, Chippewa Falls, WI
                    </div>
                    <div class="meta">
                        Senior Computer Architect (Future Architecture Study Team), August 1990 - February 1993
                        <br>
                        Senior Software Engineer (Future Architecture Study Team), August 1987 - August 1990
                    </div>
                </div>
            </div>
        </div>

        <h3>Publications</h3>
        <div class="ts single line selection items">
            {% include 'website/publication-items.html' %}
        </div>
        <div class="ts grid">
            <div class="right floated column">
                <a class="ts primary button" href="{% url 'website:publications' %}">
                    More <i class="angle double right icon"></i>
                </a>
            </div>
        </div>

        {% regroup object.membermeta_set.all by category as meta %}
        {% for grouper, list in meta %}
        <h3>{{ grouper }}</h3>
        {% if 'award' in grouper|lower %}
        <div class="ts segmented items">
            {% for item in list %}
            <div class="item">
                <i class="ts big winner icon"></i>
                <div class="content">
                    <div class="header">{{ item.title }}</div>
                    <div class="description">
                        {{ item.meta|linebreaks }}
                    </div>
                </div>
                <div class="ts top right attached info label">{{ item.year }}</div>
            </div>
            {% endfor %}
        </div>
        {% elif 'chair' in grouper|lower %}
        <div class="ts segmented items">
            {% for item in list %}
            <div class="item">
                <i class="ts large user icon"></i>
                <div class="content">
                    <div class="header">{{ item.title }}</div>
                    <div class="description">
                        {{ item.meta|linebreaks }}
                    </div>
                </div>
                <div class="ts top right attached info label">{{ item.year }}</div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="ts very relaxed bulleted list">
            {% for item in list %}
            <div class="item">
                <div class="content">
                    <div class="header">{{ item.title }}, {{ item.year }}</div>
                    <div class="description">
                        {{ item.meta|linebreaks }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endfor %}

        {% if user.is_authenticated %}
        <details class="ts accordion">
            <summary>
                <i class="dropdown icon"></i> Attendance Status
            </summary>

            <h4>Attendance Status</h4>
            <form class="ts tiny form" method="get" action="">
                <div class="inline fields">
                    {% for field in filter.form %}
                    <div class="five wide field">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endfor %}
                    <div class="field">
                        <button type="submit" class="ts button">Filter</button>
                    </div>
                </div>
            </form>
            <div class="ts inverted padded center aligned segment">
                {% if attendance %}
                <div class="ts fluid inverted statistics">
                    {% for stat in attendance %}
                    <div class="ts statistic" style="margin: 0">
                        <div class="value">
                            {{ stat.percentage }}%
                            <div class="tablet or large device only fluctuation">{{ stat.num }}</div>
                        </div>
                        <div class="label">{{ stat.label }}</div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <i class="circular inverted info large notice icon"></i>
                There isn't any record in this date range.
                {% endif %}
            </div>
        </details>
        {% endif %}
    </div>

    <style>
        .clickable {
            cursor: pointer;
        }

        #cover.header {
            padding-top: 100px;
        }

        #cover.header .image {
            margin-bottom: 15px;
        }
    </style>
{% endblock %}
