{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="ts tablet or large device only fluid bottom attached vertically extra padded massive heading slate">
        <div class="image">
            <img src="{% static 'website/cover.png' %}">
        </div>
        <div class="ts narrow container">
            <div class="header">
                Covart Lab
            </div>
            <div class="description">
                Compiler Optimization, Virtualization, and Adaptive Runtime
            </div>
        </div>
    </div>
    <div class="ts mobile only fluid bottom attached vertically padded large heading slate">
        <div class="image">
            <img src="{% static 'website/cover.png' %}">
        </div>
        <div class="header">
            Covart Lab
        </div>
        <div class="description">
            Compiler Optimization, Virtualization, and Adaptive Runtime
        </div>
    </div>
    <p></p>

    <div class="ts container">
        <h3 class="ts dividing header">Lab Advisor</h3>
        <div class="ts selection items">
            <a class="tablet or large device only item" href="{{ professor.get_absolute_url }}">
                <div class="ts circular small image">
                    <img src="{{ professor.get_picture_url }}">
                </div>
                <div class="middle aligned content">
                    <div class="header">Wei-Chung Hsu (徐慰中)</div>
                    <div class="meta">{{ professor.email }}</div>
                    <div class="description">
                        Professor and Associate Chairman,
                        Computer Science, National Taiwan University
                    </div>
                </div>
                <div class="bottom aligned actions">
                    <i class="big circle arrow right positive icon"></i>
                </div>
            </a>
        </div>
        <a class="mobile only" href="{{ professor.get_absolute_url }}">
            <div class="ts centered circular small image">
                <img src="{{ professor.get_picture_url }}">
            </div>
            <div class="ts medium center aligned header">
                Wei-Chung Hsu (徐慰中)
                <div class="sub header" style="line-height: 150%; margin-top: 5px">
                    Professor and Associate Chairman,<br>
                    Computer Science, National Taiwan University
                </div>
            </div>
            <div class="ts hidden divider"></div>
        </a>

        <div class="ts stackable two column grid">
            <div class="column">
                <h3 class="ts dividing header">Research Directions</h3>
                <div class="ts large list">
                    <div class="item">Dynamic Optimization Systems</div>
                    <div class="item">Binary Translation Systems</div>
                    <div class="item">Virtual Machines</div>
                </div>
            </div>
            <div class="column">
                <h3 class="ts dividing header">Projects & Partners</h3>
                <img class="ts tiny image" src="{% static 'website/most-logo.png' %}">
                <img class="ts small image" src="{% static 'website/mtk-logo.jpg' %}">
                <img class="ts small image" src="{% static 'website/itri-logo.jpg' %}">
                <img class="ts tiny image" src="{% static 'website/sinica-logo.svg' %}">
            </div>
        </div>

        <h3 class="ts dividing header">Recent Activities</h3>
        <div class="ts doubling four cards">
            {% include 'website/activity-items.html' %}
        </div>
        <div class="ts grid">
            <div class="right floated column">
                <a class="ts primary button" href="{% url 'website:activities' %}">
                    More <i class="angle double right icon"></i>
                </a>
            </div>
        </div>

        <h3 class="ts dividing header">Publications</h3>
        <div class="ts single line selection items">
            {% include 'website/publication-items.html' %}
        </div>
        <div class="ts grid">
            <div class="right floated column">
                <a class="ts primary button" href="{% url 'website:publications' %}">
                    More <i class="angle double right icon"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
