{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="ts tablet or large screen only fluid bottom attached vertically extra padded massive heading slate">
        <div class="image">
            <img src="{% static 'website/cover.png' %}">
        </div>
        <div class="ts narrow container">
            <div class="header">
                Covart Lab
            </div>
            <div class="description">
                Compiler Optimization, Virtualization, and Adaptive Runtime
            </div>
        </div>
    </div>
    <div class="ts mobile only fluid bottom attached vertically padded large heading slate">
        <div class="image">
            <img src="{% static 'website/cover.png' %}">
        </div>
        <div class="header">
            Covart Lab
        </div>
        <div class="description">
            Compiler Optimization, Virtualization, and Adaptive Runtime
        </div>
    </div>
    <p></p>

    <div class="ts container">
        <h3 class="ts dividing header">Professor</h3>
        <div class="ts selection items">
            <a class="item" href="http://www.csie.ntu.edu.tw/~hsuwc" target="_blank">
                <div class="ts circular small image">
                    <img src="{% static 'website/professor.jpg' %}">
                </div>
                <div class="middle aligned content">
                    <div class="header">Wei-Chung Hsu</div>
                    <div class="meta">hsuwc@csie.ntu.edu.tw</div>
                    <div class="description">
                        Professor, Computer Science, National Taiwan University
                    </div>
                </div>
                <div class="bottom aligned actions">
                    <i class="big circle arrow right positive icon"></i>
                </div>
            </a>
        </div>

        <h3 class="ts dividing header">Recent Activities</h3>
        <div class="ts doubling four cards">
        {% for activity in activities %}
            <a class="ts raised card">
                {% if activity.picture != "" %}
                <div class="image">
                    <img src="{{ activity.picture.url }}">
                </div>
                {% endif %}
                <div class="content">
                    <div class="header">{{ activity.title }}</div>
                    <div class="meta">{{ activity.post_time }}</div>
                    <div class="description">
                        {{ activity.content|truncatechars:100 }}
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
        <div class="ts grid">
            <div class="right floated column">
                <a class="ts primary button">
                    More <i class="angle double right icon"></i>
                </a>
            </div>
        </div>

        <h3 class="ts dividing header">Publications</h3>
        <div class="ts single line selection items">
        {% for publication in publications %}
            <a class="item">
                <div class="content">
                    <div class="header">{{ publication.title }}</div>
                    <div class="description">{{ publication.authors }}</div>
                    <div class="extra">{{ publication.at }} '{{ publication.date|date:"y" }}</div>
                    {% if publication.best_paper %}
                    <div class="extra">
                        <div class="ts positive label">Best paper award</div>
                    </div>
                    {% endif %}
                </div>
                <div class="middle aligned actions">
                    <i class="big circle arrow right info icon"></i>
                </div>
            </a>
        {% endfor %}
        </div>
        <div class="ts grid">
            <div class="right floated column">
                <a class="ts primary button">
                    More <i class="angle double right icon"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
