{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}

{% block title %}Member: {{ object.name }}{% endblock %}

{% block content %}
    <div class="ts container">
        <div class="ts breadcrumb">
            <a class="section" href="{% url 'website:members' %}">
                Members
            </a>
            <div class="divider"> / </div>
            <div class="active section">{{ object }}</div>
        </div>
        <h2 class="ts dividing header">
            {% if object.graduate_date %}Graduated{% endif %}
            {{ object.get_identity_display }}
            {% if object.identity in object.students %}Student{% endif %}:
            {{ object.name }}
        </h2>

        {% if object.user == user %}
        <a class="ts right floated tiny compact warning button" href="{% url 'website:member-update' %}">
            Edit
        </a>
        <div class="ts hidden clearing divider"></div>
        {% endif %}

        {% include 'website/member-brief.html' with member=object %}

        {% if user.is_authenticated %}
        <h4>Presentation History</h4>
        {% if object.presentrotation %}
        <div class="ts circular primary label">Currently in the rotation</div>
        {% else %}
        <div class="ts circular label">Currently not in the rotation</div>
        {% endif %}
        <div class="ts hidden divider"></div>

        {% render_table table %}

        <h4>Attendance Status</h4>
        <form class="ts tiny form" method="get" action="">
            <div class="inline fields">
                {% for field in filter.form %}
                <div class="five wide field">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endfor %}
                <div class="field">
                    <button type="submit" class="ts button">Filter</button>
                </div>
            </div>
        </form>
        <div class="ts inverted padded center aligned segment">
            {% if attendance %}
            <div class="ts fluid inverted statistics">
                {% for stat in attendance %}
                <div class="ts statistic" style="margin: 0">
                    <div class="value">
                        {{ stat.percentage }}%
                        <div class="tablet or large device only fluctuation">{{ stat.num }}</div>
                    </div>
                    <div class="label">{{ stat.label }}</div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <i class="circular inverted info large notice icon"></i>
            There isn't any record in this date range.
            {% endif %}
        </div>
        {% endif %}
    </div>

    <style>
        .clickable {
            cursor: pointer;
        }
    </style>
{% endblock %}
