{% extends 'base.html' %}
{% load humanize %}

{% block title %}
    Publications
{% endblock %}

{% block content %}
    <div class="ts container">
        <h2 class="ts dividing header">Publications</h2>

        {% regroup object_list by year as pub_years %}
        {% for pub_year in pub_years %}
            <h3>{{ pub_year.grouper }}</h3>

            {% regroup pub_year.list|dictsort:'hidden' by hidden as pubs %}
            {% for pub in pubs %}
            {% if pub.grouper %}
            <h5 class="ts header">Others</h5>
            <details class="ts accordion">
                <summary>
                    <i class="dropdown icon"></i>
                    {{ pub.list|length|apnumber|capfirst }} more...
                </summary>
                <div class="content">
            {% endif %}
                <div class="ts selection items">
                    {% include 'website/publication-items.html' with publications=pub.list %}
                </div>
            {% if pub.grouper %}
                </div>
            </details>
            {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
