{% extends 'base.html' %}

{% block title %}
    Publication Import
{% endblock %}

{% block content %}
    <div class="ts container">
        <div class="ts breadcrumb">
            <a class="section" href="{% url 'website:publications' %}">Publication</a>
            <div class="divider"> / </div>
            <div class="active section">Import</div>
        </div>

        <h2 class="ts dividing header">Publication Import</h2>

        <form class="ts big form" action="" method="post">{% csrf_token %}
            {% for field in form %}
            <div class="resizable field">
                <label>{{ field.label }}</label>
                {{ field }}
                <span class="message">{{ field.help_text }}</span>
            </div>
            {% endfor %}
            <button type="submit" class="ts primary button">Import</button>
        </form>
    </div>
{% endblock %}
