{% load static %}

<div class="ts grid">
    <div class="right floated column">
        <div class="ts rounded calendar">
            <div class="header">{{ meeting.date|date:"M" }}</div>
            <div class="content">
                <div class="date">{{ meeting.date|date:"d" }}</div>
            </div>
        </div>
    </div>
</div>
<div class="ts two column stackable centered grid">
    <div class="column">
    <div class="ts two cards">
    {% for presenter in meeting.presenters.all %}
        {% if meeting.present_type == meeting.type_choices.0.0 %}
        <div class="ts raised info card">
        {% else %}
        <div class="ts raised negative card">
        {% endif %}
            <div class="image">
                {% if presenter.picture != '' %}
                <img src="{{ presenter.picture.url }}">
                {% else %}
                <img src="{% static 'website/unknown-person.png' %}">
                {% endif %}
            </div>
            <div class="content">
                <div class="header">{{ presenter.name }}</div>
                <div class="meta">{{ presenter.email }}</div>
                <div class="description">
                    <p>{{ meeting.get_present_type_display }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    </div>
</div>
