<div class="ts grid">
    <div class="right floated column">
        <div class="ts rounded calendar">
            <div class="header">{{ meeting.date|date:"M" }}</div>
            <div class="content">
                <div class="date">{{ meeting.date|date:"d" }}</div>
            </div>
        </div>
    </div>
</div>
<div class="ts centered relaxed grid">
    {% for presentation in meeting.presenthistory_set.all %}
    <div class="four wide computer eight wide mobile column">
        {% with presenter=presentation.presenter %}
        {% if presentation.present_type == presentation.PAPER_PRESENTATION %}
        <a class="ts raised info card" href="{{ presenter.get_absolute_url }}">
        {% else %}
        <a class="ts raised negative card" href="{{ presenter.get_absolute_url }}">
        {% endif %}
            <div class="image">
                <img src="{{ presenter.get_picture_url }}">
            </div>
            <div class="content">
                <div class="header">{{ presenter.name }}</div>
                <div class="meta">{{ presenter.email }}</div>
                <div class="description">
                    <p>{{ presentation.get_present_type_display }}</p>
                </div>
            </div>
        </a>
        {% endwith %}
    </div>
    {% endfor %}
</div>
