{% extends 'base.html' %}
{% load static %}

{% block title %}Presentation Detail Update{% endblock %}

{% block content %}
    <div class="ts container">
        <div class="ts breadcrumb">
            {% if object.meeting.not_yet_happened %}
            <a class="section" href="{% url 'meeting:schedule' %}">
                Meeting schedule
            {% else %}
            <a class="section" href="{% url 'meeting:history' %}">
                Meeting history
            {% endif %}
            </a>
            <div class="divider"> / </div>
            <a class="section" href="{{ object.meeting.get_absolute_url }}">
                {{ object.meeting.date }}: {{ object.meeting.get_present_type_display }}
            </a>
            <div class="divider"> / </div>
            <div class="active section">
                Presentation: {{ object.presenter.name }}
            </div>
        </div>
        <h2 class="ts dividing header">
            Update Your Presentation Content
        </h2>

        {% include 'meeting/brief-info.html' with meeting=object.meeting %}

        <div class="ts dividing header">
            Presentation Content
        </div>
        <form class="ts form" method="post" action="">
            {% csrf_token %}
            <div class="field">
                <label>Presenter</label>
                {% if presenter.picture != '' %}
                <img class="ts avatar image" src="{{ object.presenter.picture.url }}">
                {% else %}
                <img class="ts avatar image" src="{% static 'website/unknown-person.png' %}">
                {% endif %}
                <span>{{ object.presenter }}</span>
            </div>
            <div class="field">
                <label for="{{ form.content.id_for_label }}">Content</label>
                {{ form.content }}
            </div>
            <div class="field">
                <div class="ts disabled checkbox">
                    {{ form.email_notification }}
                    <label for="{{ form.email_notification.id_for_label }}">
                        Send a notification email to everyone.
                    </label>
                </div>
            </div>

            <button type="submit" class="ts positive button">Update</button>
            <a class="ts button" href="{{ object.meeting.get_absolute_url }}">
                Cancel
            </a>
        </form>
    </div>
{% endblock %}
