{% extends 'meeting/base.html' %}

{% block content %}
    {{ block.super }}

    <div class="ts container">
        <div class="ts breadcrumb">
            {% if object.not_yet_happened %}
            <a class="section" href="{% url 'meeting:schedule' %}">
                Meeting schedule
            {% else %}
            <a class="section" href="{% url 'meeting:history' %}">
                Meeting history
            {% endif %}
            </a>
            <div class="divider"> / </div>
            <div class="active section">{{ object.date }}: {{ object.get_present_type_display }}</div>
        </div>

        <h4>Presenters</h4>
        {% include 'meeting/cards-calendar.html' with meeting=object %}

        <h4>Presentation Detail</h4>
        {% for presentation in object.presenthistory_set.all %}
            <h5 class="ts top attached header">
                {{ presentation.presenter }}
                <div class="sub header">{{ object.get_present_type_display|title }}</div>
            </h5>
            <div class="ts bottom attached segment">
                {{ presentation.content|default:"The presenter did not provide his content." }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
