{% extends 'base.html' %}
{% load static %}

{% block title %}Meeting Detail{% endblock %}

{% block content %}
    <div class="ts container">
        <div class="ts breadcrumb">
            {% if object.not_yet_happened %}
            <a class="section" href="{% url 'meeting:schedule' %}">
                Meeting schedule
            {% else %}
            <a class="section" href="{% url 'meeting:history' %}">
                Meeting history
            {% endif %}
            </a>
            <div class="divider"> / </div>
            <div class="active section">{{ object.date }}: {{ object.get_present_type_display }}</div>
        </div>
        <h2 class="ts dividing header">Meeting Detail</h2>

        <h4>Presenters</h4>
        {% include 'meeting/cards-calendar.html' with meeting=object %}

        <h4>Presentation Detail</h4>
        {% for presentation in object.presenthistory_set.all %}
            <h5 class="ts top attached header">
                {{ presentation.presenter }}
                <div class="sub header">
                    {% if presentation.presenter.user == user %}
                    <a class="ts mini very compact right floated warning button" href="{% url 'meeting:content-update' presentation.pk %}">
                        Edit
                    </a>
                    {% endif %}
                    {{ object.get_present_type_display|title }}
                </div>
            </h5>
            <div class="ts bottom attached segment">
                {{ presentation.content|default:"The presenter did not provide his content."|linebreaks }}
            </div>
        {% endfor %}

        <h4>Attendance Status</h4>
        {% with stat=object.get_attendance_statistics %}
        <div class="ts inverted padded segment">
        <div class="ts fluid inverted statistics">
            {% if stat.present_rate > 99 %}
            <div class="positive statistic">
            {% elif stat.present_rate > 80 %}
            <div class="primary statistic">
            {% else %}
            <div class="negative statistic">
            {% endif %}
                <div class="value">{{ stat.present_rate }}%</div>
                <div class="label">Attendance Rate</div>
            </div>
            <div class="statistic">
                <div class="value">{{ stat.PRESENT_ON_TIME }}</div>
                <div class="label">On Time</div>
            </div>
            <div class="statistic">
                <div class="value">{{ stat.LATE }}</div>
                <div class="label">Late</div>
            </div>
            <div class="statistic">
                <div class="value">{{ stat.expected }}</div>
                <div class="label">Expected</div>
            </div>
        </div>
        </div>
        {% endwith %}

        {% if user.is_authenticated %}
        <a class="ts tiny primary button" href="{% url 'meeting:attendance-update' object.date %}">
            Update attendance status
        </a>
        {% endif %}

        {% regroup object.meetingattendance_set.all|dictsortreversed:'get_is_present' by get_is_present as attendance %}

        <h5>Attendees</h5>
        {% if not attendance.0.grouper %}
        <div class="ts negative message">
            There isn't any attendee in the record.
        </div>
        {% endif %}

        {% for grouper, member_list in attendance %}
        {% if not grouper %}
        <h5>Absentees</h5>
        {% endif %}

        <div class="ts doubling eight cards">
        {% for member in member_list|dictsortreversed:'status' %}
            <a class="ts
            {% if member.status == member.PRESENT_ON_TIME %}
            positive
            {% elif member.status == member.LEAVE_BEFORE %}
            info
            {% elif member.status == member.LATE %}
            warning
            {% elif member.status == member.LEAVE_AFTER %}
            negative
            {% elif member.status == member.ABSENT %}
            inverted negative
            {% endif %}
            raised card" {% if member.reason %}data-tooltip="{{ member.reason }}"{% endif %}>
                <div class="image">
                    {% if member.member.picture != '' %}
                    <img src="{{ member.member.picture.url }}">
                    {% else %}
                    <img src="{% static 'website/unknown-person.png' %}">
                    {% endif %}
                </div>
                <div class="content">
                    <div class="header">
                        {{ member.member.name }}
                    </div>
                    <div class="meta">
                        {{ member.get_status_display|capfirst }}
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
