{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block title %}Meeting History{% endblock %}

{% block content %}
    <div class="ts container">
        <h2 class="ts dividing header">Meeting History</h2>
        {% render_table table %}
    </div>

    <style>
        .clickable {
            cursor: pointer;
        }

        @media (max-width: 767px) {
            td.content, th.content {
                display: none;
            }
        }
    </style>
{% endblock %}
