{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block title %}Meeting Schedule{% endblock %}

{% block content %}
    <div class="ts container">
        <h2 class="ts dividing header">Meeting Schedule</h2>

        <h4>Upcoming Presenters</h4>
        {% include 'meeting/cards-calendar.html' with meeting=upcoming %}
        <div class="ts grid">
            <div class="right floated column">
                <a class="ts primary button" href="{% url 'meeting:detail' upcoming.date %}">
                    Detail<i class="angle double right icon"></i>
                </a>
            </div>
        </div>

        <h4>Future Schedule</h4>
        {% render_table table %}
    </div>
{% endblock %}
