{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="ts container">
        <form class="ts form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">

            {% if request.GET.social_error == '1' %}
            <div class="ts negative message">
                <div class="header">Social Login Failed</div>
                Your social account is not allowed to login this website. If
                you think this is not correct, please contact the web master.
            </div>
            {% endif %}

            {% if form.errors %}
            <div class="ts negative message">
                <div class="header">Username/Password Login Failed</div>
                <ul class="ts list">
                {% for err in form.non_field_errors %}
                    <li>{{ err }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                <div class="ts warning message">
                    Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.
                </div>
                {% else %}
                <div class="ts primary message">
                    Please login to see this page.
                </div>
                {% endif %}
            {% endif %}

        <br><br>
        <h2 class="ts center aligned header">
            Login
            <div class="sub header">Welcome Back!</div>
        </h2>

        <div class="ts segments">
        <div class="ts centered secondary raised login segment">
            <div class="ts header">
                With Username and Password
            </div>
            <div class="field">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="field">
                {{ form.password.label_tag }}
                {{ form.password }}
                <small>You need to have a valid password set for your account to login with username and password.</small>
            </div>
            <button type="submit" class="ts primary fluid button">Login</button>
        </div>

        <div class="ts centered tertiary raised login segment">
            <div class="ts header">
                With Social Network
            </div>
            <a href="{% url 'social:begin' 'slack' %}?{{ request.GET.urlencode }}">
                <img src="{% static 'website/slack-signin.png' %}" srcset="{% static 'website/slack-signin.png' %} 1x, {% static 'website/slack-signin@2x.png' %} 2x" />
            </a>
            <a href="{% url 'social:begin' 'google-oauth2' %}?{{ request.GET.urlencode }}">
                <img src="{% static 'website/google-signin.png' %}" srcset="{% static 'website/google-signin.png' %} 1x, {% static 'website/google-signin@2x.png' %} 2x" />
            </a>
        </div>
        </div>
        </form>
        <br><br>
    </div>

    <style>
        .login.segment {
            max-width: 300px;
        }
    </style>
{% endblock %}
{% block footer %}
{% endblock %}
