{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Chih-Yung Liang">

    <title>Covart - {% block title %}Compiler Optimization, Virtualization, and Adaptive Runtime{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.2/tocas.css">
</head>
<body>
    {% block menu %}
    {% if request.resolver_match.view_name != 'website:index' %}
    <div class="ts raised menu">
    {% else %}
    <div class="ts attached inverted menu">
    {% endif %}
        <div class="ts container">
            <a class="image item" href="{% url 'website:index' %}">
                <img class="ts tiny image" src="{% static "website/logo-stripped.png" %}">
            </a>
            <div class="ts item dropdown">
                <div class="text">Meeting</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{% url 'meeting:schedule' %}">Schedule</a>
                    <a class="item" href="{% url 'meeting:history' %}">History</a>
                </div>
            </div>
            <a class="item">Members</a>
            <a class="right item" href="{% url 'admin:index' %}">Admin</a>
        </div>
    </div>
    {% endblock %}

    {% block content %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.2/tocas.js"></script>
    <script>
    ts('.ts.dropdown:not(.basic)').dropdown();
    </script>
    {% block script %}{% endblock %}
</body>
</html>
