{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Chih-Yung Liang">

    <title>Covart - {% block title %}Compiler Optimization, Virtualization, and Adaptive Runtime{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.2/tocas.css">
</head>
<body>
    <div class="ts raised menu">
        <div class="ts container">
            <a class="image item">
                <img class="ts tiny image" src="{% static "website/logo-stripped.png" %}">
            </a>
            <a class="item">Meeting</a>
            <a class="item">Members</a>
        </div>
    </div>

    <div class="ts container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
